NEXT_PUBLIC_GOOGLE_CLIENT_ID=twoj-client-id.apps.googleusercontent.com
NEXT_PUBLIC_GOOGLE_API_KEY=twoj-google-api-key
NEXT_PUBLIC_GOOGLE_APP_ID=twoj-google-cloud-project-number
NEXT_PUBLIC_BOARD_API_URL=https://core-czki.pl/uczen/board_api.php
